*{
    margin: 0;
}






body{
    background-color: tomato;
    height: 100%;
    overflow: hidden;
}
/* three lines, small, medium, big */
.small-line{
    width: 1px;
    height: 8vh;
}
.medium-line{
    width: 1px;
    height: 18vh;
}
.big-line{
    width: 1px;
    height: 38vh;
}

.small-line, .medium-line, .big-line{
    background-color: black;
    /* scroll-snap-type: x mandatory; */
}

.number{
    /* show number right below div  */
    /* display: inline-block; */
    display:inline-block;
    margin-top:41vh;
    margin-left:-25px;
    font-size: 50px;
}

.first{
    margin-left:20px;
}

.first .number{
    margin-left: -12px;
}

.triangle{
    /* display: inline-block; */
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    margin-top: -20vh;
    margin-left: 45vw;
}

.pre{
    visibility:hidden;
    width:40vw;
}
.post{
    visibility:hidden;
    width:44vw;
}

.ruler{
    overscroll-behavior: none;
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    width: 100vw;
    overflow-x: scroll;
    scrollbar-width: 0px;
    height: 80vh; 
}

/* hide scrollbar but allow scrolling */
.ruler {
    scrollbar-width: none; /* for Firefox */
}
.ruler::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
